.virtualenv
.virtualenv/*
.virtualenv/**
*.egg-info
*.egg-info/*
*.egg-info/**
*~
**/*~
*.swp
**/*.swp
*.pyc
**/*.pyc
.DS_Store
*/.DS_Store
**/.DS_Store
src/**/*.so
src/**/*.c
src/**/*.o

**/.ipynb_checkpoints

*.osm.pbf
